#main-order-container {
  border: 2px solid black;
 
  height: 350px;

  overflow-y: auto;
  margin-left: auto;
  padding: 8px;
  background-color: #e9eef3;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}



#heading {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 1.5rem;
  background-color: #e9eef3;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-btn select {
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.order-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background-color: #dbeafe;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  
}

.field {
  flex: 1;
  text-align: center;
  padding: 4px;
}


.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


@media screen and (max-width:1350px) {
  #main-order-container{
    width: 45rem;
  }
}
