<div class="order-summary">
  <h2>Order Summary</h2>
  
  <div class="summary-item">
    <span>Total Items</span>
    <span>{{totalItems}}</span>
  </div>
  
  <div class="coupon-section">
    <input type="text" placeholder="Enter coupon code">
    <button class="apply-btn">Apply</button>
  </div>
  
  <div class="summary-item">
    <span>Discount</span>
    <span>-${{discount}}</span>
  </div>
  
  <div class="summary-item total">
    <span>Total Amount</span>
    <span>${{totalAmount}}</span>
  </div>
  
  <button class="order-btn" (click)="navigateToCheckout()"><i class="fas fa-box nav-icon"></i> Order Now!!</button>
</div>