#carousel-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: auto;

}

.carousel-slides {
  width: 100%;
  overflow: hidden;
  margin: auto;
  overflow-y: unset;
}

.carousel-slides img {
  width: 100%;
  height: 100%;
}

/* #controllers{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  border: 5px solid;
  margin: auto;
} */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  height: 30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 6px;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


#indicator-group {
  position: relative;
  bottom: 25px;
  left: 48%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.indicator {
  width: 25px;
  height: 5px;
  background-color: black;
  cursor: pointer;

}

.indicator:hover{
  background-color: white;
}

