<p>{{msg}}</p>

<section id="dashboard">
  <!-- <div id="placeholder-nav">
    <app-admin-nav></app-admin-nav>
  </div> -->

  <div id="right">
      <app-admin-sidebar (isVisible)="setVisibility($event)" (isUpdateVisible)="setIsUpdateVisible($event)"> </app-admin-sidebar>

  </div>
  <div id="left">
      <div id="stats">
      <app-admin-sales-stats></app-admin-sales-stats>

  </div>
  <div id="order-review-container">
    <app-admin-order-management></app-admin-order-management>
    <app-admin-user-reviews></app-admin-user-reviews>
  </div>
  </div>
  @if (isVisible){
    <app-add-form (hideM)="setVisibility($event)" (productToAdd)="AddToInventory($event)"></app-add-form>
  }
    @if (isUpdateVisible){
    <app-update-form (hideM)="setIsUpdateVisible($event)" (productToUpdate)="UpdateToInventory($event)"></app-update-form>
  }
</section>
