<div class="container">
  <h2 class="change-heading">Change Password</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
    <input
      type="password"
      formControlName="newPassword"
      placeholder="New Password"
      [ngClass]="{ 'invalid': newPassword?.invalid && newPassword?.touched }"
    />
    <div class="error-message" *ngIf="newPassword?.invalid && newPassword?.touched">
      Password must be at least 6 characters long.
    </div>

    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      [ngClass]="{ 'invalid': confirmPassword?.invalid && confirmPassword?.touched }"
    />
    <div class="error-message" *ngIf="confirmPassword?.touched && newPassword?.value !== confirmPassword?.value">
      Passwords do not match.
    </div>

    <button type="submit" [disabled]="!passwordForm.valid || newPassword?.value !== confirmPassword?.value">
      Change Password
    </button>
  </form>
</div>
